@import "tailwindcss";

@layer components {
  .nav{
    @apply p-5 ;
  }
  .inner-nav{
    @apply mx-auto flex justify-between items-center max-w-[1440px] rounded-full border border-[#ffffff5f] px-2 py-2;
  }
  .green-btn{
    @apply px-7 py-3 bg-yellow-400 text-[18px] font-bold text-black rounded-full; 
  }
  .transparent-btn{
    @apply border border-[#dddddd9c] px-7 py-3 bg-transparent text-[18px] font-bold text-white rounded-full ;
  }
  .nav-ul{
    @apply flex justify-between items-center text-white gap-4 font-semibold hidden lg:flex;
  }
  .banner-header{
    @apply w-full text-center sm:w-[80%]  md:w-[50%] lg:w-[50%] max-w-[1440px] mx-auto text-white mb-6;
  }
  .banner-input-field{
    @apply flex justify-between mx-auto border border-[#dddddd84] rounded-full px-1 py-1 w-full sm:w-[70%] lg:w-[30%] mt-6;
  }
}

